<div class="row-fluid">
    <div class="span8 offset2 scrollable">
        <h5>2.0.51 (13/11/2015)</h5>
        <ul>
            <li>Back office - Affectation de missions
                <ul>
                    <li>Possibilité de dé-assigner une mission</li>
                    <li>Suppression d'un collaborateur</li>
                </ul>
            </li>
        </ul>
        <h5>2.0.50 (12/11/2015)</h5>
        <ul>
            <li>Back office - Affectation de missions
                <ul>
                    <li>Ajout d'une contrainte pour la sélection du type de forfait</li>
                    <li>Correction affichage du type de forfait dans l'affectation d'une mission</li>
                </ul>
            </li>
        </ul>
        <h5>2.0.49 (04/11/2015)</h5>
        <ul>
            <li>CRA
                <ul>
                    <li>Ajout des années jusqu'en 2042</li>
                    <li>Traduction des mois en français</li>
                </ul>
            </li>
            <li>Absence
                <ul>
                    <li>Ajout des années dans le filtre de recherche jusqu'en 2042</li>
                    <li>Traduction des mois en français</li>
                </ul>
            </li>
            <li>Frais
                <ul>
                    <li>Ajout des années dans le filtre de recherche jusqu'en 2042</li>
                    <li>Traduction des mois en français</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
